<h1><%=@merchant.name%> Dashboard</h1>
<h4>Located at</h4>
<p><%=@merchant.address%>
<%=@merchant.city%>
<%=@merchant.state%>
<%=@merchant.zip%></p>

<p><%= link_to "View My Items", merchant_items_path if current_merchant?%></p><br>
<p><%= link_to "View My Items", "/admin/merchant/#{@merchant.id}/items" if current_admin?%></p><br>

<h4>My Pending Orders</h4>
<% @merchant.pending_orders.each do |order| %>
  <p>Order # <%= link_to "#{order.id}", "/merchant/orders/#{order.id}"%></p>
  <p>Created at <%=order.created_at%></p>
  <p>Number of My Items: <%=order.number_of_items_for_merchant(@merchant.id)%></p>
  <p>Value of My Items: <%=number_to_currency(order.total_cost_for_merchant(@merchant.id))%></p>
<%end%>
