<h1>User Profile</h1>
<p>Name: <%=current_user.name%></p>
<p>Email: <%=current_user.email_address%></p>
<p>Address: <%=current_user.street_address%></p>
<p>City: <%=current_user.city%></p>
<p>State: <%=current_user.state%></p>
<p>Zip: <%=current_user.zip_code%></p>

<%= link_to "My Orders", user_orders_path if current_user.has_orders? %>
<%= link_to "Edit Profile", "/profile/edit"%>
<%= link_to "Change Password", "/profile/change_password"%>
