<h1>Admin User Profile View</h1>

<h2>User Profile</h2>
<p>Name: <%=@user.name%></p>
<p>Email: <%=@user.email_address%></p>
<p>Address: <%=@user.street_address%></p>
<p>City: <%=@user.city%></p>
<p>State: <%=@user.state%></p>
<p>Zip: <%=@user.zip_code%></p>
